.form-input {
  font-size: 16px;
  line-height: 21px;
  background-color: #242424;
  color: white;
  padding: 14px 0 13px 20px;
  border: 1px solid #3d3d3d;
  border-radius: 4px;
}

.form-input:focus {
  outline: 1px solid #4b72c2;
}

.form-input::placeholder {
  color: #7f7f7f;
}

@media (max-width: 599px) {
  .form-input {
    font-size: 14px;
    padding: 10px 0 10px 15px;
  }
}
