.form-title {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  margin-bottom: 13px;
}

@media (max-width: 599px) {
  .form-title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}
