.form-text {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 50px;
  color: #7f7f7f;
}

@media (max-width: 599px) {
  .form-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}
