.form-section-inner {
    width: 800px;
    margin: 0 auto;
    padding-top: 149px;
    padding-bottom: 107px;
}

.form-error-text,
.form-success-text,
.form-pass-text,
.form-checkbox-text {
    text-align: center;
    margin-bottom: 50px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.form-input {
    font-size: 16px;
    line-height: 21px;
    background-color: #242424;
    color: white;
    padding: 14px 0 13px 20px;
    border: 1px solid #3D3D3D;
    border-radius: 4px;
}

.form-input:focus {
    outline: 1px solid #4B72C2;
}


.form-input::placeholder {
    color: #7F7F7F;
}

.form-checkbox {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 16px;
}

.form-checkbox-input {
    opacity: 0;
}

.check-box {
    width: 24px;
    height: 24px;
    border: 1px solid #3D3D3D;
    border-radius: 4px;
    left: 183px;
}

.form-checkbox-input:checked + .check-box::before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #4B72C2;
    position: absolute;
}

.form-button {
    padding: 14px 53px 13px 51px;
    border-radius: 4px;
    background-color: #4B72C2;
    font-size: 16px;
    line-height: 21px;
    color: white;
    cursor: pointer;
    border: none;
    margin-bottom: 84px;
}

.form-button:hover {
    background-color: #7993c7;
}


.form-bottom-text-inner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-bottom-text {
    font-size: 16px;
    line-height: 21px;
    color: #7F7F7F;
    position: relative;
}

.form-bottom-text::before {
    content: '';
    width: 800px;
    height: 3px;
    border-bottom: 2px solid #3D3D3D;
    position: absolute;
    left: 0px;
    top: -32px;
}

.form-bottom-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 21px;
    color: #4B72C2;
    position: relative;
}

.form-bottom-link::after {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    right: -25px;
    bottom: 1px;
    background-repeat: no-repeat;
    background-position: center;
}

.form-bottom-link:hover {
    color: #7993c7;
}